@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff7613;
  --text-color: #727171;
  --border: 0.2rem solid rgba(226, 225, 225, 0.1);
  --light-color: #666;
}

html {
  font-size: 10px;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #141212;
  border-radius: 1.2rem;
}

body {
  font-family: Edu NSW ACT Foundation, sans-serif;
  background-color: black;
  color: white;
}

.heading {
  text-align: center;
  margin-top: 3rem;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0.01rem;
  background: rgba(180, 180, 180, 0.1);
  z-index: -1;
}

.heading span {
  font-size: 6rem;
  padding: 0.5rem 2rem;
  color: #fff;
  background: #000;
  border: var(--border);
}

.container {
  max-width: 1150px;
  width: 90%;
  margin: 0 auto;
  padding: 5rem;
  background-color: #070707;
  margin-top: 5rem;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin: 0rem 0rem 5rem;
}

.project1 {
  width: 100%;
}

.img {
  width: 100%;
  border-radius: 1rem;
  transition: transform 0.3s;
  object-fit: cover;
}

.img:hover {
  transform: scale(1.1);
}

.project1,
.project {
  border: 1px solid #000;
  padding: 2rem;
  border-radius: 10px;
  transition: transform 0.2s;
}

.project1:hover,
.project:hover {
  transform: scale(1.1);
}

.project_name {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
  /* color: var(--primary-color); */
  color: white;
}

.project_desc {
  font-size: 1.3rem;
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 2.3rem;
}

.show {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 3.5rem;
  font-weight: bold;
  margin-left: 1.8rem;
}

.show:hover {
  background-color: var(--primary-color);
  color: white;
  transition: all 0.5s;
}



















/* media query  */
@media (max-width: 1190px) {
  .show {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .row1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .project {
    padding: 1.7rem;
  }
}

@media (max-width: 445px) {
  .container {
    margin-top: 4rem;

  }

  .show {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .project_name {
    font-size: 2rem;
  }

  .project_desc {
    font-size: 1rem;
  }

  .heading {
    margin-top: 2rem;
  }

  .heading span {
    font-size: 4rem;
  }
}
